configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    font: "FiraCode Nerd Font 13";
    drun-display-format: "{name}";
    display-drun: "  Apps";
    display-run: "  Run";
    display-window: "  Windows";
}

@theme "~/.config/rofi/themes/catppuccin-mocha.rasi"
